[submodule "DSA-manmeet"]
	path = DSA-manmeet
	url = https://github.com/Manmeet07/Daily-DSA-Manmeet.git
[submodule "Daily-DSA"]
	path = Daily-DSA
	url = https://github.com/avikuuuu/DSA-LoveBaBar
[submodule "DSA-solution"]
	path = DSA-solution
	url = https://github.com/avikuuuu/DSA-LoveBaBar
